$color-white: #FFF;
$color-black: #000;
$color-lighter-black: #2D2D2D;
$color-grey: #9E9E9E;
$color-dark-blue: #01102D;
$color-cyan: #00C1FF;
$color-link: #747474;
$color-dark-grey: #475467;
$color-orange: #FF5607;
$color-input-border: #D0D5DD;

$font-inter: "Inter";
$font-maxima: "Maxima Nouva";

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ('nav', 'logo', 'aside', 'card', 'content', 'bgGradient', 'bg');