*,
*::after,
*::before {
  box-sizing: border-box;
  user-select: none;
}

html {
  line-height: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $color-white;
  color: $color-black;
  $vw: 100vw;
  font-size: calc($vw / 1920px * 18px);

  @include media('<phone') {
    font-size: calc($vw / 750px * 16px);
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 16px);
  }
}

p {
  line-height: 1.5;
}

h1 {
  font-weight: 600;
  line-height: 1.5;
  $vw: 100vw;
  font-size: calc($vw / 1920px * 50px);

  @include media('<phone') {
    font-size: calc($vw / 750px * 50px);
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 42px);
  }

  &.maxima {
    font-family: $font-maxima;
    font-weight: 500;
  }
}

h2 {
  font-weight: 700;
  $vw: 100vw;
  font-size: calc($vw / 1920px * 42px);

  @include media('<phone') {
    font-size: calc($vw / 750px * 42px);
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 38px);
  }

  &.maxima {
    font-family: $font-maxima;
    font-weight: 500;
  }
}

h3 {
  font-weight: 700;
  $vw: 100vw;
  font-size: calc($vw / 1920px * 35px);

  @include media('<phone') {
    font-size: calc($vw / 750px * 35px);
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 32px);
  }

  &.maxima {
    font-family: $font-maxima;
    font-weight: 500;
  }
}

h4 {
  font-weight: 700;
  $vw: 100vw;
  font-size: calc($vw / 1920px * 30px);

  @include media('<phone') {
    font-size: calc($vw / 750px * 30px);
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 28px);
  }

  &.maxima {
    font-family: $font-maxima;
    font-weight: 500;
  }
}

h5 {
  font-weight: 700;
  $vw: 100vw;
  font-size: calc($vw / 1920px * 24px);

  @include media('<phone') {
    font-size: calc($vw / 750px * 24px);
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 22px);
  }

  &.maxima {
    font-family: $font-maxima;
    font-weight: 500;
  }
}

h6 {
  font-weight: 500;
  $vw: 100vw;
  font-size: calc($vw / 1920px * 20px);

  @include media('<phone') {
    font-size: calc($vw / 750px * 20px);
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 18px);
  }
}

.page {
  padding: 1rem;
  z-index: z('content');
}

body {
  font-family: $font-inter;
  background-color: $color-white;
  color: $color-black;
  
  @include media('<phone') {
    overflow-x: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

.page-btn {
  margin: 2rem;

  @include media('<phone') {
    margin-right: 0;
    margin-left: 0;
  }
}

img {
  vertical-align: middle;
}

input, textarea {
  border: 1px solid $color-input-border;
  width: 100%;
  border-radius: 5px;
  padding: 14px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  color: $color-dark-blue;
  font-family: $font-inter;
  $vw: 100vw;
  font-size: calc($vw / 1920px * 18px);
  background: $color-white;

  @include media('<phone') {
    font-size: calc($vw / 750px * 16px);
  }

  @include media('<small') {
    font-size: calc($vw / 500px * 16px);
  }

  &[type='file'] {
    width: 30%;

    @include media('<small') {
      width: 70%;
    }
  }

  &::placeholder {
    color: $color-grey;
  }

  &:focus {
    border: 1px solid $color-dark-blue;
    outline: none;
  }
}

button {
  padding: 16px 30px;
  background-color: $color-white;
  color: $color-dark-blue;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 500;

  p {
    color: $color-dark-blue !important;
  }
}

.maxima {
  font-family: $font-maxima;
}

.desktop {
  display: block !important;

  @include media('<phone') {
    display: none !important;
  }
}

.mobile {
  display: none !important;
  
  @include media('<phone') {
    display: block !important;
  }
}
