@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: $font-maxima;
  src: url('/fonts/maxima-nouva/MaximaNouva-ExtraBold.ttf') format('truetype'),
       url('/fonts/maxima-nouva/MaximaNouva-ExtraBold.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}